*{
	padding: 0;
	margin: 0;
}

.header {
	background-color: #4baee7;
	position: fixed;
}

.header .namelogo a {
	color: white;
	font-family : 'Sacramento';
	font-size: 35px;
	text-decoration: none;
	padding-left: 40px;
	padding-right: 300px;
}

.menu ul {
	color: white;
	display: inline-flex;
	list-style: none;
}

.menu ul li {
	width: 127.99px;
	text-align: center;
}

.menu ul li a{
	color: white;
	text-decoration: none;
}

.menu ul li a:hover{
	padding-bottom: 6px;
	border-bottom: 2px solid #05f53d;
}

.home {
	text-align: center;	
	padding-top: 164px;
	padding-bottom: 164px;
	background-image: linear-gradient(#4baee7, #bce1f6);
}

.name{
	color: rgba(255, 255, 255, 0.8);
	font-family : 'Sacramento';
	font-size: 45px;
}

.home h3 {
	font-size: 24px;
	margin-top: 10px;
	font-family: "Poppins", sans-serif;
	color: rgba(255, 255, 255, 0.8);
}

.home h3 span {
	color: #fff;
	border-bottom: 2px solid #18d26e;
	padding-bottom: 6px;
}

.social {
	padding: 40px;
}

.social a {
  display: inline-flex;
  justify-content: center;
  margin-right: 20px;
}

.fa {
	padding: 10px;
	font-size: 20px;
	width: 35px;
	text-align: center;
	align-items: center;
	text-decoration: none;
	border-radius: 50%;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: linear-gradient(#ff1a1a, #4d4dff);
  color: white;
}

.fa-envelope {
  background: red;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
	background-color: green;
	color: white;
}

.about {
	background-color: none;
	overflow: auto;
	padding: 5px;
}

.about h1{
	font-family: "Poppins", sans-serif;
	color: #aaaaaa;
	font-size:65px;
	margin-top: 60px;
	margin-left: 433px;
}

.about p {
	  padding-left: 432px;
	  color: none;
	  font-family: "Poppins", sans-serif;
	  margin:0 auto;
	  margin-bottom:25px;
	  font-size: 16px;
}

.about img {
	width: 380px;
	float: left;
	margin-top: 85px;
	margin-bottom: 35px;
	margin-left: 40px;	
}

.skills h1{
	font-family: "Poppins", sans-serif;
	color: #aaaaaa;
	font-size: 25px;
}

.skills {
	font-family: "Poppins", sans-serif;
	color: none;
	background-color: none;
	padding: 40px;
}

.skillcontain {
	display: flex;
    flex-wrap: nowrap;
}

.skillcontain > div {
  width: 525px;
  margin: 10px;
  line-height: 20px;
  font-size: 10px;
}

.interestcontain {
	display: flex;
    flex-wrap: nowrap;
}

.interestcontain > div {
  font-family: "Poppins", sans-serif;
  padding: 25px;
  width: 500px;
  text-align: center;
  margin: 10px;
  line-height: 20px;
  font-size: 16px;
}

.projects {
	font-family: "Poppins", sans-serif;
	background-color: none;
	padding: 40px;
}

.projects .projects-header {
	font-family: "Poppins", sans-serif;
	color: #aaaaaa;
	font-size: 25px;
}

.projectscontain h1 {
	font-family: "Poppins", sans-serif;
	color: #aaaaaa;
	font-size: 25px;
	padding-bottom: 25px;
}

.projectscontain {
	display: flex;
    flex-wrap: nowrap;
}

.projectscontain > div {
  font-family: "Poppins", sans-serif;
  padding: 25px;
  padding-top: 50px;
  width: 500px;
  height: 400px;
  text-align: center;
  margin: 10px;
  line-height: 20px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.08);
}

.projectscontain .fa {
	margin-top: 50px;
}

.projectscontain  .project .pro {
	height: 230px;
}

.projectscontain .project:hover {
	background-color: #18d26e;
}

.projectscontain  .project p {
	line-height: 24px;
}

.projectscontain1 h1 {
	font-family: "Poppins", sans-serif;
	color: #aaaaaa;
	font-size: 25px;
	padding-bottom: 25px;
}

.projectscontain1 {
	display: flex;
    flex-wrap: nowrap;
}

.projectscontain1 > div {
  font-family: "Poppins", sans-serif;
  padding: 25px;
  padding-top: 50px;
  width: 500px;
  height: 400px;
  text-align: center;
  margin: 10px;
  line-height: 20px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.08);
}

.projectscontain1 .fa {
	margin-top: 50px;
}

.projectscontain1  .project .pro {
	height: 230px;
}

.projectscontain1 .project:hover {
	background-color: #18d26e;
}

.projectscontain1 .project p {
	line-height: 24px;
}

.contact h3{
	font-family: "Poppins", sans-serif;
	color: #aaaaaa;
	padding: 40px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.contact h1{
	font-family: "Poppins", sans-serif;
	padding-left: 40px;
	font-size: 25px;
}

.socialcontain {
	display: flex;
    flex-wrap: nowrap;
	padding-left: 40px;
}

.socialcontain h1 {
	font-family: "Poppins", sans-serif;
	color: #aaaaaa;
	font-size: 23px;
	text-align: center;
}

.socialcontain > div {
  font-family: "Poppins", sans-serif;
  width: 50%;
  height: 150px;
  margin: 10px;
}

.socialcontain .fa {
	padding: 7px;
	font-size: 20px;
	width: 35px;
	text-align: center;
	align-items: center;
	text-decoration: none;
	border-radius: 50%;
}

.socialcontain .contactsocial a {
	margin-top: 35px;
	margin-right: 40px;
}

.socialcontain .fa-github {
	background-color: green;
	color: white;
}

.designdiv {
	background-color: black;
	text-align: center;
	color: #aaaaaa
}

.designdiv .design {
	color: green;
}
